<!DOCTYPE html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mengenal Tabel HTML</title>
</head>
<body>
  <table border="1">
    <tr>
        <th rowspan="1">id</th>
        <th rowspan="1">name</th>
        <th rowspan="1">price</th>
    </tr>
    <tr>
        <td>1</td>
        <td>AUDI</td>
        <td>52642</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Mercedes</td>
        <td>57127</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Skoda</td>
        <td>9000</td>
    </tr>
     <tr>
      <td>4</td>
      <td>Volvo</td>
      <td>29000</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Bentley</td>
      <td>35000</td>
    <tr>
        <td>6</td>
        <td>Daihatsu</td>
        <td>50000</td>
    </tr>
</table>
</body>